.icon {
    &__bold {
        font-variation-settings:
            'FILL' 0,
            'wght' 600,
            'grad' 0,
            'opsz' 24;
    }

    &__light {
        font-variation-settings:
            'FILL' 0,
            'wght' 100,
            'grad' 0,
            'opsz' 48;
    }

    &__light-fill {
        font-variation-settings:
            'FILL' 1,
            'wght' 100,
            'grad' 0,
            'opsz' 48;
    }

    &__bold-fill {
        font-variation-settings:
            'FILL' 1,
            'wght' 600,
            'grad' 0,
            'opsz' 48;
    }
}

@media (max-width: 1600px) {
    .icon {
        &__bold {
            font-size: 48px;
        }

        &__light {
            font-size: 48px;
        }

        &__light-fill {
            font-size: 72px;
        }

        &__bold-fill {
            font-size: 72px;
        }
    }
    
}

@media (max-width: 400px) {
    .icon {
        &__bold {
            font-size: 24px;
        }

        &__light {
            font-size: 24px;
        }

        &__light-fill {
            font-size: 24px;
        }

        &__bold-fill {
            font-size: 24px;
        }
    }
}
