.icon {
    &__bold {
        font-variation-settings:
            'fill' 0,
            'wght' 600,
            'grad' 0,
            'opsz' 30;
    }

    &__light {
        font-variation-settings:
            'fill' 0,
            'wght' 100,
            'grad' 0,
            'opsz' 30;
    }

    &__light-fill {
        font-variation-settings:
            'fill' 1,
            'wght' 100,
            'grad' 0,
            'opsz' 30;
    }

    &__bold-fill {
        font-variation-settings:
            'fill' 1,
            'wght' 600,
            'grad' 0,
            'opsz' 30;
    }
}