@import 'theme';
@import 'text';

.form {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 25px;
    width: 30rem;

    &__header {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;

        h1 {
            text-align: center;
        }
    }

    &__labels-text {
        margin-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__labels {
        margin-left: auto;
        margin-right: auto;
        background-color: var(--color-input);
        border-radius: 8px;
        display: flex;
        height: 3.125rem;
        width: 100%;
        margin-top: 2%;
        // margin-bottom: 0.93rem;
        padding: 0.62rem;
        border: none;
        font-size: var(--dev-text3-size);
    }

    &__button {
        @include text2-style;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--color-but-entry);
        border-radius: 12px;
        height: 3.75rem;
        width: 100%;
        display: flex;
        margin-top: 7%;
        margin-bottom: 0.93rem;
        border: none;
    }

    &_button-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__registration-text {
        @include text3-style;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
