@import "theme";

:root {
    --dev-h1-font: sans-serif;
    --dev-h1-size: 2.8rem; //45
    --dev-h2-font: sans-serif;
    --dev-h2-size: 2.5rem; //40
    --dev-h3-font: sans-serif;
    --dev-h3-size: 2.1875rem; //35 
    --dev-h4-font: sans-serif;
    --dev-h4-size: 1.875rem; //30
    --dev-text1-font: sans-serif;
    --dev-text1-size: 1.56rem; //25
    --dev-text2-font: sans-serif;
    --dev-text2-size: 1.56rem; //25
    --dev-text3-font: sans-serif;
    --dev-text3-size: 1.25rem; //20
}

//Большие подписи 
@mixin h1-style {
    font-family: var(--dev-h1-font);
    font-size: var(--dev-h1-size);
}

//Чарты/плейлисты
@mixin h2-style {
    font-family: var(--dev-h2-font);
    font-size: var(--dev-h2-size);
}

//Жирные подписи
@mixin h3-style {
    font-family: var(--dev-h3-font);
    font-size: var(--dev-h3-size);
    font-weight: 700;
}

//email_логин_пароль
@mixin h4-style {
    font-family: var(--dev-h4-font);
    font-size: var(--dev-h4-size);
    font-weight: 700;
}

//Названия
@mixin text1-style {
    font-family: var(--dev-text1-font);
    font-size: var(--dev-text1-size);
    font-weight: 700;
}

//Исполнитель
@mixin text2-style {
    font-family: var(--dev-text2-font);
    font-size: var(--dev-text2-size);
}

//Мелкие подписи
@mixin text3-style {
    font-family: var(--dev-text3-font);
    font-size: var(--dev-text3-size);
}