
mixin doc(css, js)
    doctype html
    html(lang="ru")
        head
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title TRAPIFY
            link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')

            for file of css 
                link(rel="stylesheet" href=`./style/${file}.min.css`)
        body#body
            for file of js
                script(async type="module", src=`./js/${file}.min.js`)
            block
