
mixin header()
    header
        div.upmenu-button
            +bold-ico('home')
            a.upmenu__button__text(href='#') Главная
        div.upmenu-button
            +bold-ico('favorite')
            a.upmenu__button__text(href='#') Любимое
        div.upmenu-button
            +bold-ico('search')
            a.upmenu__button__text#searchLink(href='#') Поиск