
mixin header()
    header
        div
            ico.ico-setting
                +bold-ico('home')
            a(href='#',class='upmenu__home') Главная
        div
            ico.ico-setting
                +bold-ico('favorite')
            a(href='#',class='upmenu__like') Любимое
        div
            ico.ico-setting
                +bold-ico('search')
            a(href='#',class='upmenu__search') Поиск