
mixin header()
    header 
        upmenu__home
            ico
                +bold-ico('home')
            a(href='#',class='upmenu__home') Главная
        upmenu__like
            ico
                +bold-ico('favorite')
            a(href='#',class='upmenu__like') Любимое
        upmenu__search
            ico
                +bold-ico('search')
            a(href='#',class='upmenu__search') Поиск