mixin ico(name)
    span.material-symbols-outlined&attributes(attributes)= name

mixin bold-ico(name)
    +ico(name).icon__bold

mixin light-ico(name)
    +ico(name).icon__light

mixin bold-fill-ico(name)
    +ico(name).icon__bold-fill

mixin light-fill-ico(name)
    +ico(name).icon__light-fill

