mixin ico(name)
    span.material-symbols-outlined&attributes(attributes) = name

mixin bold-ico(name)
    +ico(name).bold

mixin light-ico(name)
    +ico(name).light

mixin bold-ico(name)
    +ico(name).bold

mixin light-ico(name)
    +ico(name).light

