mixin login()
    div.form
        div.form__header
            h1 Войти в Trapefy
        div
            form(action="/entrance", method="post")
                div
                    label.form__labels-text(for="email") 
                        h4 Почта
                    input.form__labels(type="email", id="email", name="email" required, placeholder='Email')

                div
                    label.form__labels-text(for="password") 
                        h4 Пароль
                    input.form__labels(type="password", id="password", name="password" required, placeholder='Пароль')
                    button.form__button(type="submit")
                        h5 Войти
            div.form__registration-text
                p Еще нет аккаунта?
                a#showReg(href='#') Регистрация


