mixin search()
  #searchBox.search-box
    input(type='text', placeholder='Введите запрос...')
    h3 Плейлисты
    ul.suggestions
      li
        p.type1 Название плейлиста 
        p.type2 Истолнитель
      li 
        p.type1 Название плейлиста 
        p.type2 Истолнитель
    h3 Треки
    ul.suggestions
      li
        p.type1 Название плейлиста 
        p.type2 Истолнитель
      li 
        p.type1 Название плейлиста 
        p.type2 Истолнитель
        

