include components/root
//- script(src='Trapify/frontend/gulp/js/script.js')

+doc(['style'],['script'])  
    .page-wrapper 
        #reg 
            +reg()
        #login
            +login()

            